{{define "Q"}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>EarthCube CDF RWG</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- google icon link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- open search -->
    <link type="application/opensearchdescription+xml" rel="search" title="EarthCube CDF RWG" href="./html/opensearch.xml" />


    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
    <style>
        .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
            padding-right: 0;
        }
    </style>
    <style>
        .demo-card-wide.mdl-card {
            width: 712px;
        }
        
        .mdl-layout__content {
            background: white
        }
        
        .mdl-card {
            background: #eff0f2
        }
        
        .mdl-card__media {
            background: #eff0f2
        }
        
        .page-content {
            background: white
        }
        
        .mdl-card__title-text {
            font-size: 16px;
        }
        
        .demo-card-wide>.mdl-card__title {
            color: #fff;
            height: 176px;
            /*background: url('/images/eclogo.png') center / cover;*/
        }
        
        .demo-card-wide>.mdl-card__menu {
            color: #fff;
        }
    </style>
    <style>
        button.no-style {
            -webkit-appearance: none;
            border: 0;
            padding: 0;
            background: transparent;
        }
    </style>
    <script type="text/javascript">
        function submitform() {
            document.getElementById("formcall").submit(); // Form submission
        }
    </script>

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span style="margin-left: 20px" class="mdl-layout-title">EarthCube CDF Registry Working Group Testing</span>

                <div class="mdl-layout-spacer"></div>
                <!-- <span style="font-size:8pt">Hosting provided by IEDA</span> -->

                <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
                    </div>
                </div>-->
            </div>
            <!-- Bottom row, not visible on scroll -->
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/onImplementation.md">For Facilities</a>
                    <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG">GitRepo for RWG</a>
                    <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/contextBuilder">GitRepo Crawler</a>
                    <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/docs/ECAHM_poster.pdf">Poster</a>
                    <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/members.md">Members / Providers</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">CDF Reg WG</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/onImplementation.md">For Facilities</a>
                <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG">GitRepo for group</a>
                <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/contextBuilder">GitRepo Crawler</a>
                <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/docs/ECAHM_poster.pdf">Poster</a>
                <a class="mdl-navigation__link" target="_blank" href="https://github.com/fils/CDFRegistryWG/blob/master/members.md">Members / Providers</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <div class="mdl-grid" style="align-items: center; justify-content: center; max-width:80%">
                    <div class="mdl-cell mdl-cell--5-col">
                        <form id="formcall" action="/" method="GET">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="q" value="{{.Term}}" id="q">
                                <label class="mdl-textfield__label" for="sample3">Search repository metadata...</label>
                                <!-- <a href="javascript: submitform()">Search</a> -->
                            </div>
                        </form>
                        {{if .Count}} Found: {{.Count}} {{end}} {{if .Message}} {{.Message}} {{end}}
                    </div>
                </div>

                {{end}} {{define "T"}}

                <div class="mdl-grid" style="max-width:80%">
                    <div class="mdl-cell mdl-cell--8-col">

                        {{range $loop := .}}
                        <div class="mdl-card" style="width:100%;margin-bottom:40px">
                            <div class="mdl-card__title">
                                <h3 class="mdl-card__title-text"><a target="_blank" href="{{$loop.ID}}">{{$loop.ID}}</a> </h3>
                            </div>
                            <div class="mdl-card__media" style="margin:5px">
                                <!--<img src="/images/eclogo.png" width="50" border="0" alt="" style="padding:10px;">-->
                                <i style="font-size:48px" class="material-icons">{{$loop.IconName}}</i> {{$loop.IconDescription}}: {{$loop.Index}}

                            </div>
                            <div class="mdl-card__supporting-text">
                                Position {{$loop.Place}} with score {{$loop.Score}}
                                <ul>
                                    {{range $loop2 := $loop.Fragments}}
                                    <li>{{$loop2.Key}} : {{$loop2.Value}}</li>
                                    {{end}}
                                </ul>
                            </div>
                            <div class="mdl-card__actions">
                            </div>
                        </div>
                        {{end}} {{end}} {{define "S"}}


                    </div>

                    <div class="mdl-cell mdl-cell--4-col">

                        {{if .Description}}
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text"><a target="_blank" href="{{.URL}}">{{.URL}}</a></h2>
                            </div>
                            <div class="mdl-card__media" style="background-color:white">
                                <img src="{{.Logo}}" width="50%" border="0" alt="" style="padding:10px;">
                            </div>
                            <div class="mdl-card__supporting-text">


                                <p>{{.Name}}</p>
                                <p>{{.Description}}</p>
                                <p>Contact: {{.ContactName}} {{.ContactEmail}}</p>
                            </div>
                        </div>
                        {{end}}


                    </div>

                </div>

            </div>
        </main>
    </div>
</body>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</html>
{{end}}