{{define "S"}}
<!doctype html>
<html lang="en">

<head>
    <title>EarthCube CDF Registry Working Group Search Demo</title>
</head>

<body>
    <h1>Search results only a coder could love: </h1>

    <div style="float:right;width:45%;margin: 25px; border:0.01em solid black;background:#EAEDED">
        <div style="margin: 5px">
            <p>{{.Desc}}</p>
        </div>
    </div>


    {{end}} {{define "T"}} {{range $loop := .}}
    <div style="width:45%;margin: 25px; border:0.01em solid black;background:#EAEDED">
        <div style="margin: 5px">

            <p> ({{$loop.Place}}) Found <a target="_blank" href="{{$loop.ID}}">{{$loop.ID}}</a> with score {{$loop.Score}} </p>

            <ul>
                {{range $loop2 := $loop.Fragments}}
                <li>{{$loop2.Key}} : {{$loop2.Value}}</li>
                {{end}}
            </ul>
        </div>
    </div>
    {{end}}

</body>

</html>
{{end}}